.main-chat
  .group-info
    .left-box
      .group-name
        = @group.name
      .group-menber
        - @group.group_users.each do |group_user|
          = group_user.user.name
    =link_to 'edit', class: 'edit-btn' do
      Edit
  .massage-list
    .info
      =render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__box
        =f.label :image, 'form__box__image' do
          = icon('fa','image',class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
