.chat-side
  .user-name 
    .top-items
      .name
        = current_user.name
      .icons
        =link_to new_group_path, class:'edit-icon' do
          = icon("fa","edit")
          -# =fa_icon 'edit', class: 'edit-icon'
        =link_to edit_user_path(current_user), class:'cog-icon' do
          = icon("fa","cog")
          -# =fa_icon 'cog', class: 'cog-icon'
  .group-list
    - current_user.groups.each do |group|
      .box
        = link_to group_messages_path(group) ,class:'box-link' do
          .group-name
            = group.name
          .group-message
            = group.show_last_message


    
  
